body {
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, li, ul {
	margin: 0px;
}

.welcome {
	text-align: center;
	color: #333333;
	margin-bottom: 20px;
}

#imageGallery {
	width: 800px;
	margin: auto;
}

#imageGallery .imageWrapper {
	float: left;
	margin: 0px 5px 10px 5px;
	width: 150px;
	height: 150px;
}
