* {padding:0;margin:0}

.wrapper 
{
    background: url(../images/top_bg.jpg) repeat-x 0 0;
}

.main
{
    width: 1024px;
    height: 798px;
    margin: auto;
    background: url(../images/main.jpg) no-repeat 0 0;
    display: block;
    position:relative;
}

.frame 
{
    width:320px;
    height:460px;
    position:absolute;
    left: 70px;
    top:90px;
}